.location {


  &__container {
    max-width: 870px;


  }

  &__title {
    margin-bottom: 50px;
  }

  &__inner {
    padding: 50px 20px;
    min-height: 505px;
    // background: rgb(235, 222, 222);
  }

  &__buttons {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
  }

  &__btn {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    padding: 5px 8px;
    border: 1px solid rgba(1, 22, 36, 0.10);
    background: var(--light-color);
    &.active {
      border-radius: 8px;
      border: none;
      &::before {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        background: linear-gradient(47deg, #0A6FCC -44.41%, rgba(59, 237, 77, 0.75) 124.33%);
        border-radius: 8px;
        z-index: -1;
      }
    }
  }


}

.location-state {
  display: none;
  &.active {
    display: flex;
  }

  &__info {
    padding: 0 20px 0 13px;
    max-width: 352px;
    width: 100%;
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__country {
    margin: 0;
    margin-bottom: 10px;
    color: var(--dark-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
  }

  &__descr {
    margin: 0;
    margin-bottom: 10px;
    color: var(--dark-color);
    font-family: Nunito;
    font-size: 13.75px;
    font-style: normal;
    font-weight: 700;
    line-height: 15.813px; /* 115% */

    & span {
      background: var(--brand-color, linear-gradient(47deg, #0A6FCC -44.41%, rgba(59, 237, 77, 0.75) 124.33%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // font-family: Nunito;
      font-size: 13.75px;
      font-style: normal;
      font-weight: 700;
      line-height: 15.813px;
    }
  }

  &__add {
    display: block;
    margin-bottom: 30px;
    color: var(--dark-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 19.6px */
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__operators {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    flex-grow: 1;
    padding: 0 10px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.operators {


  &__head {
    margin: 0;
    margin-bottom: 30px;
  }

  &__buttons {
    display: flex;
    gap: 5px;
    align-self: stretch;
    margin-bottom: 30px;
  }

  &__button {
    padding: 7px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    border: 1px solid rgba(1, 22, 36, 0.10);
    min-height: 38px;
    max-width: 126px;
    width: 100%;

    &--thai {
      width: auto;
      max-width: none;
    }
  }

  &__buttons-img {
    width: 22px;
    height: 22px;
    @include bg-cover;
  }


  &__buy {
    padding: 15px 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: var(--dark-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
    border-radius: 8px;
    border: 1px solid rgba(1, 22, 36, 0.10);
    margin-top: auto;
  }


}

.operators-content {

  &__traffic {
      position: relative;
      padding: 30px 0;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
        height: 1px;
        opacity: 0.05;
        background: #000;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 180px;
        height: 1px;
        opacity: 0.05;
        background: #000;
      }
  }

  &__tariff {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;
    margin-bottom: 30px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 180px;
      height: 1px;
      opacity: 0.05;
      background: #000;
    }

    & span {
      background: var(--brand-color, linear-gradient(47deg, #0A6FCC -44.41%, rgba(59, 237, 77, 0.75) 124.33%));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
