<section class="faq">
  <div class="container faq__container">
    <h1 class="faq__title">FAQ
      <span>Ответы на вопросы</span>
    </h1>

    <ul class="dropdowns list-reset">
      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">Сколько стоит?
          <span class="dropdown__btn-arrow">

          </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Стоимость зависит от локации и тарифа</p>
        </div>
      </li>


      <li class="dropdown">
        <button class="dropdown__btn btn-reset" aria-expanded="false">Сколько стоит?
          <span class="dropdown__btn-arrow">

          </span>
        </button>

        <div class="dropdown__content" aria-hidden="true">
          <p class="dropdown__text">Стоимость зависит от локации и тарифа</p>
        </div>
      </li>
    </ul>

  </div>
</section>
