<header class="header">
  <div class="container header__container">
    <a class="header__logo logo" href="/" aria-label="dproxy logo">

    </a>

    <nav class="nav header__nav" title="header navigation">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
        <li class="nav__item"><a href="#" class="nav__link">FAQ</a></li>
        <li class="nav__item"><a href="#" class="nav__link">API</a></li>
      </ul>
    </nav>

    <div class="switch-toggle" aria-checked="false" role="switch">
      <span class="switch-toggle-border"></span>
      <div class="switch-toggle-box"></div>
    </div>

    <div class="header__socials socials">
      <a class="socials__link socials__link--tg" href="#" aria-label="go to telegram"></a>
    </div>



  </div>
</header>
