<section class="location section-offset">
  <div class="container location__container">
    <h2 class="location__title section-title">Локации</h2>

    <div class="location__buttons">
      <button class="location__btn location__btn-ru btn-reset">Россия</button>
      <button class="location__btn location__btn-ru btn-reset">Тайланд</button>
    </div>

    <div class="location__inner">
      <div class="location-state location-ru" id="location-ru">
        <div class="location-state__info">
          <div class="location-state__head">
            <img class="location-state__flag location-ru__flag" src="img/ru-flag.png" alt="russian flag">
            <h3 class="location-state__country">Россия</h3>
            <p class="location-state__descr">Более <span>10 000</span> IP адресов</p>
            <span class="location-state__add">*Собственная ферма, Uptime 99%</span>
          </div>

          <ul class="location-state__list list-reset">
            <li class="location-state__item">🖥 Modem: 5-20 мбит\сек.</li>
            <li class="location-state__item">📱 Android: 3-10 мбит\сек.</li>
            <li class="location-state__item">🔒 ️Приватный канал</li>
            <li class="location-state__item">🛡 ️HTTP и SOCKS5</li>
            <li class="location-state__item">📋 Белый список IP</li>
            <li class="location-state__item">⏳ ️Смена IP (Ссылка, Таймер), 2-5 сек</li>
            <li class="location-state__item">🔄 ️Перезагрузка (Bot, API)</li>
            <li class="location-state__item">🔐 ️Смена логин:пароль (Bot, API)</li>
          </ul>
        </div>

        <div class="location-state__operators operators">
          <h3 class="operators__head">Операторы</h3>
          <div class="operators__buttons">
            <button class="operators__button operators__button--mtc btn-reset">
              <img class="operators__button-img" src="img/mtc.svg" alt="mtc">
              МТС
            </button>
            <button class="operators__button operators__button--beeline btn-reset">
              <img class="operators__button-img" src="img/beeline.svg" alt="beeline">
              Билайн

            </button>
            <button class="operators__button operators__button--megaphone btn-reset">
              <img class="operators__button-img" src="img/megaphone.svg" alt="megaphone">
              Мегафон</button>
          </div>

          <div class="operators-content" id="content-mtc">
            <div class="operators-content__traffic">
              ♾️ Безлимитный трафик
            </div>

            <div class="operators-content__tariff">
              <div class="operators-content__day"><span>350₽</span> / день </div>
              <div class="operators-content__week"><span>650₽</span> / неделя</div>
              <div class="operators-content__month"><span>1900₽</span> / месяца</div>
              <div class="operators-content__hour"><span>0₽</span> / тест 2 часа</div>
            </div>

            <button class="operators__buy">Купить</button>
          </div>


        </div>
      </div>


      <div class="location-state location-thai" id="location-thai">
        <div class="location-state__info">
          <div class="location-state__head">
            <img class="location-state__flag location-thai__flag" src="img/thai-flag.png" alt="thai flag">
            <h3 class="location-state__country">Тайланд</h3>
            <p class="location-state__descr">Более <span>145 000</span> IP адресов</p>
            <span class="location-state__add">*Собственная ферма, Uptime 99%</span>
          </div>

          <ul class="location-state__list list-reset">
            <li class="location-state__item">🖥 Modem: 5-20 мбит\сек.</li>
            <li class="location-state__item">📱 Android: 3-10 мбит\сек.</li>
            <li class="location-state__item">🔒 ️Приватный канал</li>
            <li class="location-state__item">🛡 ️HTTP и SOCKS5</li>
            <li class="location-state__item">📋 Белый список IP</li>
            <li class="location-state__item">⏳ ️Смена IP (Ссылка, Таймер), 2-5 сек</li>
            <li class="location-state__item">🔄 ️Перезагрузка (Bot, API)</li>
            <li class="location-state__item">🔐 ️Смена логин:пароль (Bot, API)</li>
          </ul>
        </div>

        <div class="location-state__operators operators">
          <h3 class="operators__head">Операторы</h3>
          <div class="operators__buttons">
            <button class="operators__button operators__button--ais btn-reset">
              <img class="operators__button-img" src="img/ais.svg" alt="ais">
              AIS
            </button>
            <button class="operators__button operators__button--truemove btn-reset">
              <img class="operators__button-img" src="img/true.svg" alt="truemove">
              TrueMove

            </button>
            <button class="operators__button operators__button--nt btn-reset">
              <img class="operators__button-img" src="img/nt.svg" alt="nt">
              NT</button>

            <button class="operators__button operators__button--dtac btn-reset">
              <img class="operators__button-img" src="img/dtac.svg" alt="dtac">
              DTAC</button>
          </div>

          <div class="operators-content" id="content-mtc">
            <div class="operators-content__traffic">
              ♾️ Безлимитный трафик
            </div>

            <div class="operators-content__tariff">
              <div class="operators-content__day"><span>5$</span> / день </div>
              <div class="operators-content__week"><span>15$</span> / неделя</div>
              <div class="operators-content__month"><span>40$</span> / месяца</div>
              <div class="operators-content__hour"><span>0₽</span> / тест 2 часа</div>
            </div>

            <button class="operators__buy">Купить</button>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
